.conteniar {
  border: solid rgb(98, 0, 255);
  width: 700px;
  height: 300px;
  margin: auto;
  margin-top: 300px;
}
.box {
  width: 130px;
  height: 130px;
  background-color: red;
  float: left;
  margin-top: 110px;
  margin-left: 110px;
  margin-right: 90px;
}
.page {
  width: 600px;
  margin-top: 125px;
}
